* {
  box-sizing: border-box;
  color: var(--color-negre);
  font-family: "Open Sans", sans-serif;
}
body.day-mode {
  --color-principal: #24a586;
  --color-secundari: #18745e;
  --color-secundari-clar: #30e2b8;
  --color-fons: beige;
  --color-negre: #2c2c2c;
  --color-sombra: rgba(0, 0, 0, 0.7);
  --color-tarjeta: rgba(255, 255, 255, 0.5);
  --color-text-blanc: white;
}
body.night-mode {
  --color-principal: #eeeec3;
  --color-secundari: #cece50;
  --color-secundari-clar: #d6d68f;
  --color-fons: #24a586;
  --color-negre: rgb(240, 240, 240);
  --color-sombra: rgba(0, 0, 0, 0.7);
  --color-tarjeta: rgba(0, 0, 0, 0.5);
  --color-text-blanc: #2c2c2c;
}
a {
  text-decoration: none;
}
body {
  background-color: var(--color-fons);
  margin: 0px;
}
/*-----------------------------------------------
EFECTE WAVE
-----------------------------*/
div#title-wave > h1 {
  font-size: 10vmin;
  position: absolute;
}

.border {
  color: var(--color-secundari-clar);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.wave {
  color: var(--color-secundari);
  animation: wave 3s ease-in-out infinite;
}

@keyframes wave {
  0%,
  100% {
    clip-path: polygon(
      0% 47%,
      10% 48%,
      33% 54%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

div#title-wave {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  height: 30vh;
  width: 100vw;
  align-items: flex-end;
  justify-content: center;
  margin: 0;
  padding: 0;
}
#title-wave h1 {
  margin-bottom: 0;
}
/* ----------------------------------------------------------------------------------*/

#title-frontend {
  padding-top: 0px;
  margin: 0px;
  font-size: 6em;
  text-align: center;
  margin-bottom: 100px;
}
mark {
  background-color: var(--color-negre);
  color: var(--color-text-blanc);
  padding: 0rem 1rem;
}
.about-me-item {
  position: relative;
}
.about-me-item-content li {
  font-size: 1.1rem;
}

.boleta {
  width: 20px;
  height: 20px;
  background-color: var(--color-secundari);
  border-radius: 50%;
  left: 12px;
  top: 31px;
  position: absolute;
}
.about-me-item-content {
  border-left: 4px solid var(--color-secundari);
  padding: 15px 8px 8px 20px;
  margin-left: 20px;
}
.about-me-item h3 {
  font-size: 1.4em;
  margin-top: 0px;
  margin-bottom: 2px;
}
.about-me-item h4 {
  margin: 3px 0;
  font-size: 1.1em;
}

.about-me-item .data {
  margin-top: 20px;
  font-size: 1em;
  font-style: italic;
}
h4 {
  font-size: 1.4em;
}
h2 {
  padding: 2rem 0rem;
  margin: 0px;
  font-size: 80px;
}
h3,
h4 {
  margin: 5px 0px;
}
#about_me h2 {
  margin-bottom: 0;
  z-index: 1;
  text-align: center;
}
#home {
  padding: 0px;
}
p {
  font-size: 1.1rem;
  margin: 5px 0px;
}
.svg-dalt {
  position: absolute;
  z-index: -2;
  width: 100%;
}
.svg-baix {
  position: absolute;
  bottom: -1px;
  width: 100%;
  z-index: -2;
}

/***************************************
 MENU 
*/
#menu {
  background-color: transparent;
}
#menu nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#menu nav a {
  color: var(--color-text-blanc);
  flex: 1;
  padding: 1em 0;
  text-align: center;
  font-size: 1.3em;
}
.sticky {
  flex-direction: row-reverse;
  z-index: 1;
  /*position: fixed;*/
  top: 0;
  width: 100%;
}
#toggle-menu-mobile {
  color: var(--color-text-blanc);
  display: none;
  float: right;
  padding: 0.9em;
  height: 75px;
  width: 75px;
  font-size: 1.8em;
  line-height: 0.9em;
  cursor: pointer;
}

/***************************************/
@keyframes animacio-pilota {
  to {
    transform: translateY(0px) scaleY(90%) scaleX(100%);
  }
  from {
    transform: translateY(-50px) scaleY(100%) scaleX(90%);
  }
}
.pilota-animada {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 200px auto 0 auto;
  background-color: var(--color-principal);
  animation-name: animacio-pilota;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-delay: 0;
  animation-iteration-count: 3.5;
  animation-direction: alternate;
  animation-fill-mode: both;
  animation-play-state: running;
}
.pilota-animada:hover {
  background-color: var(--color-negre);
}
.frase-home {
  font-style: italic;
  font-size: 2rem;
  text-align: center;
  margin: 4rem 1rem;
}
.link-center-home {
  padding: 10px;
  display: grid;
  justify-content: space-around;
  color: var(--color-principal);
  font-size: 20px;
}

.about-div {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-div p {
  padding: 3em;
  max-width: 500px;
}
.about-div p::first-letter {
  padding: 5px 2px;
  margin-right: 5px;
  border: 1px solid;
  font-weight: bold;
  color: var(--color-principal);
  font-size: 3em;
  font-weight: bold;
  float: left;
}

.img-about_me {
  border-radius: 50%;
  width: 300px;
  place-self: center;
}
.img-wrapper {
  z-index: -2;
  background-color: rgb(255, 255, 255, 0.7);
  border-radius: 50%;
  height: 300px;
  width: 300px;
  margin-top: -315px;
}
#portfolio p {
  margin: 10px 0;
  font-size: 1.2em;
}
.portfolio-tag {
  color: var(--color-text-blanc);
  font-size: 12px;
  background-color: var(--color-secundari);
  padding: 2px 8px;
  margin: 10px 20px 10x 10px;
  border-radius: 10px;
}

.div-filtres-projectes {
  font-size: 1.2em;
  display: flex;
  justify-content: space-evenly;
  padding: 1em;
  flex-wrap: wrap;
}

/* checkbox TOGGLE */
input[type="checkbox"].toggle {
  position: absolute;
  opacity: 0;
  width: 1px;
  height: 1px;
  cursor: pointer;
}
input[type="checkbox"].toggle + label {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding: 0.4em 0;
}

input[type="checkbox"].toggle + label::before {
  content: "";
  width: 2em;
  height: 1em;
  background-color: #ddd;
  border-radius: 1em;
  margin-right: 0.25em;
}
input[type="checkbox"].toggle:focus + label::before {
  outline: 1px solid black;
}

input[type="checkbox"].toggle:checked + label::before {
  background-color: var(--color-secundari-clar);
}
input[type="checkbox"].toggle + label::after {
  position: absolute;
  left: 0.1em;
  content: "";
  width: 0.9em;
  height: 0.9em;
  background-color: white;
  border-radius: 1em;
  transition: 200ms ease-in-out;
}
input[type="checkbox"].toggle:checked + label::after {
  transform: translateX(100%);
  transition: 200ms ease-in-out;
  background-color: var(--color-secundari);
}

/* ---------------------------------------*/

/* checkbox TOGGLE-MODE */
input[type="checkbox"].toggle {
  position: absolute;
  opacity: 0;
  width: 1px;
  height: 1px;
  cursor: pointer;
}
input[type="checkbox"].toggle.toggle-mode + label {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding: 0.4em 0;
  margin: auto;
}

input[type="checkbox"].toggle.toggle-mode:checked + label i {
  position: absolute;
  right: 12px;
  z-index: 2;
}
input[type="checkbox"].toggle.toggle-mode + label i {
  position: absolute;
  right: 42px;
  z-index: 2;
}

input[type="checkbox"].toggle.toggle-mode + label::before {
  content: "";
  width: 3.8em;
  height: 2em;
  background-color: #ddd;
  border-radius: 2em;
  margin-right: 0.25em;
}
input[type="checkbox"].toggle.toggle-mode:focus + label::before {
  outline: 1px solid black;
}

input[type="checkbox"].toggle.toggle-mode:checked + label::before {
  background-color: var(--color-secundari-clar);
}
input[type="checkbox"].toggle.toggle-mode + label::after {
  position: absolute;
  left: 0.1em;
  content: "";
  width: 1.8em;
  height: 1.8em;
  background-color: white;
  border-radius: 1em;
  transition: 200ms ease-in-out;
}
input[type="checkbox"].toggle.toggle-mode:checked + label::after {
  transform: translateX(100%);
  transition: 200ms ease-in-out;
  background-color: var(--color-secundari);
}

/* ------------------------------------------------------------------*/

li {
  list-style-type: none;
}
.social-media-list {
  display: flex;
  gap: 1em;
  justify-content: space-evenly;
  padding: 0;
  flex-wrap: wrap;
}
.social span,
.social i:hover {
  background-color: transparent;
}
.social-media-list a {
  flex: 1;
}
.separacio {
  height: 30px;
}
.social.tarjeta {
  background-color: var(--color-secundari);
  color: var(--color-text-blanc);
  padding: 15px;
}
.social.tarjeta > * {
  color: var(--color-text-blanc);
}
.social.tarjeta:hover {
  color: var(--color-negre);
}
.social.tarjeta:hover > * {
  color: var(--color-negre);
}

.social {
  text-align: center;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.social i {
  font-size: 2em;
}
.social :hover {
  background-color: #19745e;
}
.detall-compte-social {
  font-size: 0.8em;
}
.detall-compte-social:hover {
  background-color: none;
}
section {
  position: relative;
  padding: 0;
  font-size: 0.9em;
  min-height: 100vh;
  margin: 0px;
}
.section-wrapper {
  align-content: space-between;
  padding: 5rem 10%;
}

#portfolio {
  height: auto;
}
#portfolio ul {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  min-height: 200px;
  width: 100%;
}
.project-img-wrapper {
  height: 200px;
}
#portfolio ul li {
  min-width: 350px;
  max-width: 400px;
  min-height: 400px;
  flex: 1;
  margin-bottom: 2em;
  position: relative;
}
#portfolio ul li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
#about_me h3 {
  font-size: 1.8em;
}
.tarjeta {
  background-color: var(--color-tarjeta);

  border-radius: 10px;
  transition: all 500ms ease-in-out;
}
.tarjeta:hover {
  background-color: var(--color-text-blanc);
  box-shadow: -2px -2px var(--color-sombra);
}
.sombra {
  box-shadow: 1px 1px var(--color-sombra);
}
.contingut-tarjeta {
  padding: 15px 15px 60px 15px;
}
.about-me-item-content ul {
  padding-left: 20px;
  margin-right: 0px;
}
.about-me-item-content ul li {
  list-style-type: circle;
}
#portfolio ul li h3 {
  display: none;
  margin: -30px 0px 30px 0px;
}
#portfolio ul li mark {
  padding: 0.5em 1em;
}
.project-buttons {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  width: 90%;
  bottom: 1em;
}
.btn-visitar-projecte {
  box-sizing: border-box;

  margin-top: 5px;
  padding: 10px;
  border: 1px solid var(--color-negre);
  font-weight: bold;
}
.clear {
  clear: both;
}
.btn-visitar-projecte:hover {
  background-color: var(--color-secundari);
  border: 1px solid black;
  color: black;
}
form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 5px;
  min-width: 400px;
  background-color: var(--color-sombra);
}
input {
  background-color: var(--color-text-blanc);
  padding: 0 15px;
  height: 40px;
  border: none;
  border-radius: 5px;
  margin: 5px;
  font-family: system-ui;
}
textarea {
  background-color: var(--color-text-blanc);
  padding: 15px;
  border-radius: 5px;
  resize: none;
  margin: 5px;
  border-width: 0px;
  border: none;
  font-family: system-ui;
}
.boleta-nav {
  height: 20px;
  width: 20px;
  background-color: var(--color-principal);
  border-radius: 20px;
}
.form-button {
  font-weight: bold;
  cursor: pointer;
  margin: 5px;
  border-radius: 5px;
  border-width: 0px;
  border: none;
  height: 40px;
  background-color: #7c7c7c;
  float: right;
  transition: all 500ms ease-in-out;
}
.form-button:hover {
  background-color: var(--color-principal);
}
footer {
  align-items: center;
  display: flex;
  background-color: var(--color-principal);
  height: 50px;
  display: flex;
  justify-content: space-around;
}

footer p {
  color: var(--color-text-blanc);
}

.content-contact {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 2em;
}
.contact-form,
.social-media-content {
  flex: 1;
}
#contact h3 {
  color: var(--color-negre);
}
svg path {
  fill: var(--color-principal);
  stroke: var(--color-principal);
}

@media (max-width: 601px) {
  /* For mobile phones: */
  h1,
  h1#title-frontend {
    font-size: 3.2em;
  }
  h2 {
    font-size: 2.9em;
    padding: 0.2em 0;
  }
  h3 {
    font-size: 1.8em;
  }
  .sticky {
    position: fixed;
  }
  #menu {
    background-color: var(--color-principal);
  }

  p {
    font-size: 1em;
  }
  .about-div p {
    max-width: 350px;
    padding: 1.6em;
  }
  #portfolio ul li {
    min-width: 220px;
  }
  #portfolio ul li mark {
    padding: 10px;
  }
  .icon-btn-link {
    color: var(--color-negre);
  }
  section {
    padding: 0;
  }
  form {
    min-width: 0;
    padding: 2em 0.8em;
  }

  .about-div {
    padding: 0;
    gap: 0.5em;
  }

  .img-about_me {
    width: 180px;
  }

  .img-wrapper {
    width: 180px;
    height: 180px;
    margin-top: -180px;
  }
  input,
  textarea {
    font-size: 1.2em;
  }
  .social-media-list a {
    margin-bottom: 10px;
  }
  .content-contact {
    flex-direction: column;
  }
  .social {
    height: 100px;
  }
  /*************************************
  MENU
  */
  #toggle-menu-mobile {
    display: block;
  }
  #menu nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .menu-hidden {
    display: none;
  }
  footer {
    font-size: 0.8em;
  }
}
