* {
  box-sizing: border-box;
  color: var(--color-negre);
  font-family: "Open Sans", sans-serif;
}
:root {
  --color-principal: #24a586;
  --color-secundari: #18745e;
  --color-fons: beige;
  --color-negre: #2c2c2c;
  --color-sombra: rgba(0, 0, 0, 0.7);
  --color-tarjeta: rgba(255, 255, 255, 0.5);
  --color-text-blanc: white;
}
a {
  text-decoration: none;
}
body {
  background-color: var(--color-fons);
  margin: 0px;
}
h1 {
  padding-top: 150px;
  margin: 0px;
  font-size: 80px;
  text-align: center;
}
mark {
  background-color: var(--color-negre);
  color: var(--color-text-blanc);
  padding: 0rem 1rem;
}
h1 mark span {
  color: var(--color-text-blanc);
}
h1 span.lletra-girada-esquerra {
  display: inline-block;
  transform: rotateZ(350deg);
}
h1 span.lletra-girada-dreta {
  display: inline-block;
  transform: rotateZ(10deg);
}
h4 {
  font-size: 1.4em;
}
h2 {
  padding: 2rem 0rem;
  margin: 0px;
  font-size: 80px;
}
h3,
h4 {
  margin: 5px 0px;
}
#about_me h2 {
  margin-bottom: -65px;
  z-index: 1;
  text-align: center;
}
#home {
  padding: 0px;
}
p {
  font-size: 1.2rem;
  margin: 5px 0px;
}
.svg-dalt {
  position: absolute;
  z-index: -1;
  width: 100%;
}
.svg-baix {
  position: absolute;
  bottom: -1px;
  width: 100%;
  z-index: -1;
}

/***************************************
 MENU 
*/
#menu {
  background-color: transparent;
}
#menu nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#menu nav a {
  flex: 1;
  padding: 1em 0;
  text-align: center;
  font-size: 1.3em;
}
.sticky {
  flex-direction: row-reverse;
  z-index: 1;
  /*position: fixed;*/
  top: 0;
  width: 100%;
}
#toggle-menu-mobile {
  display: none;
  float: right;
  padding: 0.9em;
  height: 75px;
  width: 75px;
  font-size: 1.8em;
  line-height: 0.9em;
  cursor: pointer;
}

/***************************************/
@keyframes animacio-pilota {
  to {
    transform: translateY(0px) scaleY(90%) scaleX(100%);
  }
  from {
    transform: translateY(-50px) scaleY(100%) scaleX(90%);
  }
}
.pilota-animada {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 200px auto 0 auto;
  background-color: var(--color-principal);
  animation-name: animacio-pilota;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: both;
  animation-play-state: running;
}
.pilota-animada:hover {
  background-color: var(--color-negre);
}
.frase-home {
  font-style: italic;
  font-size: 2rem;
  text-align: center;
  margin: 4rem 1rem;
}
.link-center-home {
  padding: 10px;
  display: grid;
  justify-content: space-around;
  color: var(--color-principal);
  font-size: 20px;
}
.about-div {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-div p {
  padding: 3em;
  max-width: 500px;
}
.about-div p::first-letter {
  padding: 5px;
  margin-right: 5px;
  border: 1px solid;
  font-weight: bold;
  color: var(--color-principal);
  font-size: 3em;
  font-weight: bold;
  float: left;
}

.img-about_me {
  border-radius: 50%;
  width: 300px;
  place-self: center;
}
.img-wrapper {
  z-index: -2;
  background-color: rgb(255, 255, 255, 0.7);
  border-radius: 50%;
  height: 300px;
  width: 300px;
  margin-top: -315px;
}
#portfolio p {
  margin: 10px 0 5px 0;
}
.portfolio-tag {
  font-size: 12px;
  background-color: var(--color-secundari);
  padding: 2px 8px;
  margin: 10px 20px 10x 10px;
  border-radius: 10px;
}

li {
  list-style-type: none;
}
.social-media-list {
  display: flex;
  gap: 1em;
  justify-content: space-evenly;
  padding: 0;
  flex-wrap: wrap;
}
.social span,
.social i:hover {
  background-color: transparent;
}
.social-media-list a {
  flex: 1;
}

.social.tarjeta {
  background-color: var(--color-secundari);
  color: black;
}
.social.tarjeta > * {
  color: black;
}

.social {
  text-align: center;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.social i {
  font-size: 2em;
}
.social :hover {
  background-color: #19745e;
}
.detall-compte-social {
  font-size: 0.8em;
}
.detall-compte-social:hover {
  background-color: none;
}
section {
  position: relative;
  padding: 0;
  font-size: 0.9em;
  min-height: 100vh;
  margin: 0px;
}
.section-wrapper {
  align-content: space-between;
  padding: 5rem 10%;
}

#portfolio {
  height: auto;
}
#portfolio ul {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  min-height: 200px;
  width: 100%;
}
#portfolio ul li {
  min-width: 350px;
  flex: 1;
  margin-bottom: 2em;
}
#portfolio ul li img {
  width: 100%;
}
.tarjeta {
  background-color: var(--color-tarjeta);
  padding: 20px;
  border-radius: 10px;
  transition: all 500ms ease-in-out;
}
.tarjeta:hover {
  background-color: var(--color-text-blanc);
  box-shadow: -4px -4px var(--color-sombra);
}
.sombra {
  box-shadow: 4px 4px var(--color-sombra);
}

#portfolio ul li h3 {
  margin: -30px 0px 30px 0px;
}
#portfolio ul li mark {
  padding: 0.5em 1em;
}
form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 5px;
  min-width: 400px;
  background-color: #f0f0f0;
}
input {
  padding: 0 15px;
  height: 40px;
  border: none;
  border-radius: 5px;
  margin: 5px;
  font-family: system-ui;
}
textarea {
  padding: 15px;
  border-radius: 5px;
  resize: none;
  margin: 5px;
  border-width: 0px;
  border: none;
  font-family: system-ui;
}
.boleta-nav {
  height: 20px;
  width: 20px;
  background-color: var(--color-principal);
  border-radius: 20px;
}
.form-button {
  font-weight: bold;
  cursor: pointer;
  margin: 5px;
  border-radius: 5px;
  border-width: 0px;
  border: none;
  height: 40px;
  background-color: #7c7c7c;
  float: right;
  transition: all 500ms ease-in-out;
}
.form-button:hover {
  background-color: var(--color-principal);
}
footer {
  align-items: center;
  display: flex;
  background-color: var(--color-principal);
  height: 50px;
  display: flex;
  justify-content: space-around;
}

footer p {
  color: var(--color-text-blanc);
}

.content-contact {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 2em;
}
.contact-form,
.social-media-content {
  flex: 1;
}

@media (max-width: 601px) {
  /* For mobile phones: */
  h1 {
    font-size: 3.2em;
  }
  h2 {
    font-size: 2.9em;
    padding: 0.2em 0;
  }
  h3 {
    font-size: 1.8em;
  }
  .sticky {
    position: fixed;
  }
  #menu {
    background-color: var(--color-principal);
  }

  p {
    font-size: 1em;
  }
  .about-div p {
    max-width: 350px;
    padding: 1.6em;
  }
  #portfolio ul li {
    min-width: 220px;
  }
  #portfolio ul li mark {
    padding: 10px;
  }
  section {
    padding: 0;
  }
  form {
    min-width: 0;
    padding: 2em 0.8em;
  }

  .about-div {
    padding: 0;
    gap: 0.5em;
  }

  .img-about_me {
    width: 180px;
  }
  #about_me h2 {
    margin-bottom: -30px;
  }
  .img-wrapper {
    width: 180px;
    height: 180px;
    margin-top: -180px;
  }
  input,
  textarea {
    font-size: 1.2em;
  }
  .social-media-list a {
    margin-bottom: 10px;
  }
  .content-contact {
    flex-direction: column;
  }
  .social {
    height: 100px;
  }
  /*************************************
  MENU
  */
  #toggle-menu-mobile {
    display: block;
  }
  #menu nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .menu-hidden {
    display: none;
  }
  footer {
    font-size: 0.8em;
  }
}
